<app-heder></app-heder>
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-button routerLink="/Listar-Egresos">Listar Egresos</ion-button>
  </ion-item>
  <ion-item>
    <ion-button routerLink="/Listar-Usuarios">Listar Usuarios</ion-button>
  </ion-item>
  <ion-item>
    <ion-button routerLink="/Registro-Usuarios">Registro de Usuarios</ion-button>
  </ion-item>
  <ion-item>
    <ion-button routerLink="/Registro-Egresos">Registro de Egresos</ion-button>
  </ion-item>
</ion-list>

</ion-content>
